{% include "header.html.twig" %}

<div>
    <ul>
    <li>nb_victoires : 0</li>
    <li>nb_défaites : 0</li>
    <li>nb_égalités : 0</li>
</ul>
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

{#Importation de matérialize#}
<script type="text/javascript" src="{{ asset('bundles/tttfirst/materialize/js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/tttfirst/materialize/js/sweetalert.min.js') }}"></script>

{#Importation de NodeJS#}
<script type="text/javascript" src="{{ asset('../node_modules/socket.io-client/dist/socket.io.js') }}"></script>

{#Importation des différents js pour les fonctionnalités#}
<script type="text/javascript" src="{{ asset('bundles/tttfirst/js/stats.js') }}"></script>
</body>
</html>

